/*   border: 1px solid green; */
@font-face {
  font-family: OpenSans-Regular;
  src: url(fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}


body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0;
  padding: 0;
  font-family: OpenSans-Regular, Arial, sans-serif;
}

h1, h2, h3, p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}


.container {
  max-width: 640px;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

.header, .footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #15183d;
  position: relative;
  color: #fff;
}

.header {
  background-image: url(images/football_767.jpg);
  padding-top: 33px;
  padding-bottom: 80px;
}

.footer{
  background-image: url(images/game_767.jpg);
  padding-top: 100px;
  padding-bottom: 10px;
}

.header::after, .footer::after {
  content: "";
  background-color: #15183d;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon {
  width: 2rem;
  fill: #fff;
  margin-left: 20%;
}

.header__title {
  font-size: 9vw;
  margin-top: 130px;
  margin-bottom: 85px;
}

.header__appeal-end {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.footer__title {
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.footer__appeal-start {
  font-size: 2rem;
}

.footer__appeal-end {
  font-size: 14px;
  color: #9b8ec1;
}

.logo {
  height: 2.5rem;
  fill: #fff;
}


.logo__link {
  display: block;
  text-align: center;
}

.bottom__link {
  margin-top: 80px;
}

.footer__logo {
  text-align: center;
  margin-bottom: 135px;
}

.logo-top {
  height: 50px;
  fill: #fff;
  background-color: #5e42b0;
  padding: 13px 8px;
  border-radius: 50px 50px;
  border-radius: 15px 15px;
}

.store-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download__button {
  width: 280px;
  height: 38px;
  background-color: #5e42b0;
  border-radius: 50px 50px;
  display: flex;
  align-items: center;
  border: 0;
  color: inherit;
}

.download__button:focus {
  outline: 1px solid #5e42b0;
  outline-offset: 1px;
}

.download__button:hover {
  background-color: #8c6de7;
}

.download__button:nth-child(n+2) {
  margin-top: 15px;
}

.buttons__appeal {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin-left: 0.7rem;
  align-items: flex-start;
}

.button__appeal-start {
  text-transform: uppercase;
}

.main-articles__pic {
  position: absolute;
  top: 6%;
}

.athlets {
  left: 25%;
}

.picture-box {
  position: relative;
}

.cube__box {
  display: flex;
  position: absolute;
  top: -5rem;
}

.cube {
  background-color: #5e42b0;
  text-align: center;
  padding: 1.5rem 1.75rem;
  font-size: 14px;
  font-family: OpenSans-Bold;
  position: relative;
  color: #fff;
}

.cube:after {
  content: "";
  display: block;
  height: 0.3rem;
  background-color: #8f7bc8;
  border-radius: 5px 5px;
}

.main-articles {
  position: relative;
}

.article {
  padding-top: 60px; 
  padding-bottom: 50px; 
}

.article__name, .header__title, .article-number, .article-header, .section-article__heading, .button__appeal-end, .footer__appeal-start {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
}

.article__name {
  font-size: 48px;
  color: #e7e7e7;
  margin-bottom: 240px;
}

.article-header {
  font-size: 1.5rem;
  margin-bottom: 25px;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.article-number {
  font-size: 1.1rem;
  margin-right: 9px;
}

.article-number__white {
  color: #5e42b0;
}

.article-number::after  {
  content: "";
  display: block;
  height: 0.3rem;
  background-color: #8f7bc8;
  border-radius: 5px 5px;
}

.article-number__white::after  {
  background-color: #fff;
}

.article-name {
  color: #c1c1c1;
}

.connection {
  background-color: #fafafa;
}

.collaboration {
  background-color: #f5f4f9;
}

.growth__violet {
  background-color: #5e42b0;
}

.growth__blue {
  background-color: #090c35;  
}

.p__violet, .p__blue {
  color: #fff;
}

.article__pic {
  display: block;
  max-width: 100%;
}

.section-description {
  margin-top: 20px;
  margin-bottom: 50px;
}

.section-article__heading {
  font-size: 38px;
  color: #e7e7e7;
  margin-bottom: 23px;
}

.appeal-start {
  text-align: left;
}


@media (min-width: 641px) {
 
  .store-buttons {
    flex-direction: row;
    justify-content: center;
  }

  .download__button:nth-child(n+2) {
    margin-top: 0;
    margin-left: 30px;
  } 

  .download__button {
    width: 315px;
    height: 75px;
  }

  .buttons__appeal {
    font-size: 14px;
    margin-left: 26px;
  }

  .article__content {
    width: 50%;
  }

  .special__design-content {
    margin-left: auto;
  }

  .desktop__article__name {
    margin-left: 50%;
  }

  .section-article__heading+p {
    font-size: 24px;
  }
  
  .connection {
    background-color: #fff;
  }

  .cube {
    padding: 2rem 2.5rem;
    font-size: 24px;
  }

  .players {
    right: 0;
  }

  .logo-top {
    height: 90px;
    padding: 27px 13px;
    border-radius: 35px;
  }

  .footer__appeal-start {
    font-size: 70px;
  }

  .footer__appeal-end {
    font-size: 32px;
  }
}


@media (min-width: 641px) and (max-width: 960px) {

  html {
    font-size: 112.5%;
  }

  .container {
    max-width: 960px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .header__title {
    font-size: 64px;
    margin-top: 170px;
    margin-bottom: 90px;
  }
  
  .section-article__heading {
    font-size: 75px;
    padding-top: 1rem;
  }

  p {
    line-height: 28px;
  }

  .article {
    padding-top: 45px;
    padding-bottom: 35px;
  }

  .article__name {
    font-size: 4.5rem;
    margin-bottom: 15px;
    margin-top: 40px;
  }

  .footer__logo {
    margin-bottom: 80px;
  }

  .athlets {
    left: -15%;
    top: 10%;
  }
  
  .header {
  background-image: url(images/football_1280.jpg);
  }

  .footer{
  background-image: url(images/game_1280.jpg);
  }

  .store-buttons {
    margin-top: 225px;
  }
}


@media (min-width: 961px) and (max-width: 1920px) {

  html {
    font-size: 135%;
  }

  .container {
    max-width: 1520px;
    padding-right: 9%;
    padding-left: 9%;
  }

  .header__title {
    font-size: 5vw;
    margin-top: 12%;
    margin-bottom: 13%;
    letter-spacing: 3px;
  }

  .header__appeal-end {
    text-align: end;
  }

  .header {
    background-image: url(images/football_1920.jpg);
  }

  .athlets {
    left: calc(50% - 290px);
    top: 0;
  }

  .players {
    top: -8%;
  }

  .section-articles {
    display: flex;
    flex-wrap: wrap;
  }

  .section-article {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .section-article__heading {
    font-size: 5vw;
  }

  .section-article:nth-child(even) {
  flex-direction: row-reverse;
  }

  .section__container, .picture-box {
    width: 50%;
  }

  .cube__box {
    top: calc(50% - 55px);
    left: 0;
    transform: translate(-50%);
  }

  .cube__box-reverse {
   left: 100%;
  }

  .article__name {
    font-size: 80px;
    margin-top: 70px;
    margin-bottom: 20px;
  }

  .special__padding{
    padding-left: 8%;
  }

  .footer {
  padding-top: 340px;
  background-image: url(images/game_1920.jpg);
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__top {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
  }

  .footer__title {
    margin-left: 40px;
    margin-bottom: 0; 
  }
}
