/*   border: 1px solid green; */
@font-face {
  font-family: OpenSans-Regular;
  src: url(fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

/*html {
  font-size: 87.5%;
}*/

body {
  min-width: 320px;
  max-width: 1920px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: OpenSans-Regular, Arial, sans-serif;
}

h1, h2, h3, p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}


.container {
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

.header, .footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #15183d;
  position: relative;
  color: #fff;
}

.header {
  background-image: url(images/football_767.jpg);
  padding-top: 33px;
  padding-bottom: 80px;
}

.footer{
  background-image: url(images/game_767.jpg);
  padding-top: 100px;
  padding-bottom: 10px;
}

.header::after, .footer::after {
  content: "";
  background-color: #15183d;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon {
  width: 23px;
  fill: #fff;
  padding-left: 85px;
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: 8px;
}

.header__title {
  font-size: 9vw;
  margin-top: 130px;
  margin-bottom: 85px;
}

.header__appeal-end {
  display: block;
  padding-left: 1.5em;
  padding-top: 10px;
}

.footer__title {
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.footer__appeal-start {
  font-size: 32px;
}

.footer__appeal-end {
  font-size: 14px;
  color: #9b8ec1;
}

.logo {
  height: 36px;
  fill: #fff;
}


.logo__link {
  display: block;
  text-align: center;
}


.footer__logo {
  text-align: center;
  margin-bottom: 135px;
}

.logo-top {
  height: 50px;
  fill: #fff;
  background-color: #5e42b0;
  padding: 13px 8px;
  border-radius: 50px 50px;
  border-radius: 15px 15px;
}

.logo-bottom {
  height: 36px;
  fill: #fff;
  margin-top: 80px;
}

.store-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download__button {
  width: 280px;
  height: 34px;
  background-color: #5e42b0;
  border-radius: 50px 50px;
  display: flex;
  align-items: center;
  border: 0;
  color: inherit;
}

.download__button:focus {
  outline: 1px solid #5e42b0;
  outline-offset: 1px;
}

.download__button:hover {
  background-color: #8c6de7;
}


.download__button:nth-child(n+2) {
  margin-top: 15px;
}

.buttons__appeal {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding-left: 5px;
  align-items: flex-start;
}

.button__appeal-start {
  text-transform: uppercase;
}

.main-articles__pic {
  position: absolute;
  top: 8%;
}

.athlets {
  left: 25%;
}

.picture-box {
  position: relative;
}

.cube__box {
  display: flex;
  position: absolute;
  left: 15px;
  bottom: -15px;
}

.cube {
  background-color: #5e42b0;
  text-align: center;
  padding: 22px 24px 27px;
  font-size: 14px;
  font-family: OpenSans-Bold;
  position: relative;
  color: #fff;
}

.cube:after {
  content: "";
  width: 16px;
  height: 4px;
  background-color: #8f7bc8;
  border-radius: 5px 5px;
  position: absolute;
  left: 23px;
  top: 46px;
}

.main-articles {
  position: relative;
}

.article {
  padding-top: 60px; 
  padding-bottom: 50px; 
}

.article__name, .header__title, .article-number, .article-header, .section-article__heading, .button__appeal-end, .footer__appeal-start {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
}

.article__name {
  font-size: 50px;
  color: #e7e7e7;
  margin-bottom: 240px;
  padding-right: 20px;
  padding-left: 20px;
}

.article-header {
  margin-bottom: 25px;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.article-number {
  font-size: 14px;
  padding-right: 9px;
}

.article-number__white {
  color: #5e42b0;
}

.article-number::after  {
  content: "";
  width: 16px;
  height: 4px;
  background-color: #8f7bc8;
  border-radius: 5px 5px;
  position: absolute;
  left: 0;
  bottom: 8px;
}

.article-number__white::after  {
  background-color: #fff;
}

.article-name {
  font-size: 23px;
  color: #c1c1c1;
}

.connection {
  background-color: #fafafa;
}

.collaboration {
  background-color: #f5f4f9;
}

.growth__violet {
  background-color: #5e42b0;
}

.growth__blue {
  background-color: #090c35;  
}

.p__violet, .p__blue {
  color: #fff;
}

.article__pic {
  max-width: 100%;
}

.section-description {
  margin-top: 34px;
  margin-bottom: 80px;
}

.section-article__heading {
  font-size: 28px;
  color: #e7e7e7;
  margin-bottom: 23px;
}

.appeal-start {
  text-align: left;
}


/* медиа-запросы в работе...*/

@media (min-width: 641px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
 
  .store-buttons {
    flex-direction: row;
    justify-content: center;
  }

  .download__button:nth-child(n+2) {
    margin-top: 0;
    margin-left: 30px;
  } 

  .download__button {
    width: 315px;
    height: 75px;
  }

  .buttons__appeal {
    font-size: 14px;
    padding-left: 26px;
  }

  .icon {
    padding-left: 55px;
    width: 43px;
  }

  .article__content {
    width: 440px;
  }

      .section-article__heading+p {
        font-size: 24px;
      }

      .cube {
        padding: 38px 42px 41px;
        font-size: 24px;
      }

      .cube:after {
        width: 25px;
        height: 5px;
        left: 42px;
        top: 73px;
      }

  .players {
    right: 0;
  }

  .logo-top {
    height: 90px;
    padding: 27px 13px;
    border-radius: 35px;
  }

  .footer__appeal-start {
    font-size: 80px;
  }

  .footer__appeal-end {
    font-size: 36px;
  }
}


@media (min-width: 641px) and (max-width: 960px) {

  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .header__title {
    font-size: 64px;
    margin-top: 170px;
    margin-bottom: 90px;
    padding-left: 60px;
  }

  .article-header {
    font-size: 32px;
  }

  .section-article__heading {
    font-size: 80px;
  }

  .article-number {
    font-size: 20px;
  }

  .article-number::after {
    width: 22px;
    height: 5px;
    bottom: 2px;
  }

  p {
    line-height: 28px;
  }

  .article {
    padding-top: 45px;
    padding-bottom: 35px;
  }

  .footer__logo {
    margin-bottom: 80px;
}

  .athlets {
  left: -19%;
  }
  
  .header {
  background-image: url(images/football_1280.jpg);
  }

  .footer{
  background-image: url(images/game_1280.jpg);
  }

  .store-buttons {
    margin-top: 225px;
  }
}


@media (min-width: 961px) and (max-width: 1920px) {

  .container {
  padding-right: 8%;
  padding-left: 8%;
  }

  .header__title {
  font-size: 5vw;
  margin-top: 12%;
  margin-bottom: 9%;
  letter-spacing: 3px;
  }

  .header__appeal-end {
    text-align: end;
  }

  .header {
  background-image: url(images/football_1920.jpg);
  }

  .footer{
  background-image: url(images/game_1920.jpg);
  }

  .footer__top {
  display: flex;
  justify-content: center;
  padding-top: 226px;
  padding-bottom: 150px;
  }

  .footer__title {
  padding-bottom: 0;
  margin-left: 40px;
  }

  .section-articles {
  display: flex;
  flex-wrap: wrap;
  }

  .section-article {
  width: 100%;
  display: flex;
  }

  .section-article:nth-child(even) {
  flex-direction: row-reverse;
  }

  #section__container, .picture-box {
  width: 50%;
  }

  .cube__box {
  bottom: 46%;
  left: 94%; 
  }

  .cube__box-reverse {
  left: -6%;
  }

  .main-articles__pic {
    top: 0;
  }

  .article__name {
  font-size: 80px;
  margin-bottom: 20px;
  padding-right: 8%;
  padding-left: 8%;
  }

  .section-article__heading {
    font-size: 4vw;
    margin-top: 35%;
  }
}
